<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.zhenglemeng.com" target="_blank" title="乐萌网">乐萌网</a></li>
      <li><a href="http://www.bootcss.com" target="_blank" title="Bootstrap中文网">Bootstrap中文网</a></li>
      <li><a href="http://www.w3school.com.cn" target="_blank" title="w3school 在线教程">w3school 在线教程</a></li>
      <li><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript" target="_blank" title="JavaScript | MDN">JavaScript | MDN</a></li>
      <li><a href="https://git.oschina.net/" target="_blank" title="开源中国代码托管平台">git.开源中国</a></li>
      <li><a href="http://iconfont.cn/" target="_blank" title="阿里巴巴矢量图标库">阿里巴巴矢量图标库</a></li>
    </ul>
</div>
